* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%; 
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
body{
    background-image: url('PHARMHIVE NEW DESIGN/dashboard bg.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.first{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    position: absolute;
    width: 25%;
    height: 83%;
    margin: 40px;
    margin-left: 80px;
    box-shadow: 0px 15px 5px 2px rgba(0, 0, 0, 0.3);
}
.second{
    display: flex;
    position: absolute;
    left: 33%;
    width: 50%;
    height: 100%;
}
.inside1{
   
    margin: 20px;
    margin-top: 50px;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}
.inside2{
   
    margin: 30px;
    margin-left: 35px;
    top: 33%;
    width: 95%;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}
h1{
    font-size: 150%;
    color: black;
    font-family:GORDON;
    padding: 15px;
    
}
@font-face {
    font-family: GORDON;
    src: url('PHARMHIVE NEW DESIGN/Fonts/CsGordon-YzRaL.otf');
}
.third{
    position: absolute;
    right: 0%;
    margin: 10px;
    top: 75%;
}
.Ann{
    position: absolute;
    left: 15%;
    font-family: GORDON;
    top: 15%;
}
li{
    margin-top: 20px;
}
.Quo{
    position: absolute;
    left: 10%;
}
ul {
    font-family: GORDON;
    list-style-type: none;
}
.month {
  padding: 10px 5px;
  width: 100%;
  background-color: goldenrod;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 5px;
  font-size: 25px;
  position: absolute;
  top: 15%;
}

.month .next {
  float: right;
  padding-top: 5px;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 15%;
}

.weekdays {
  margin: 0;
  padding: 5px 0;
  background-color: rgba(1, 1, 1, 0.7);
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

.days {
  padding: 2px 0;
  background: rgba(1, 1, 1, 0.6);
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: goldenrod;
  color: white !important
}
